.title {
  align-self: center;
  font-size: xx-large;
}

.mat-error {
  width: 100%;
  margin-top: 20px;
}

.label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  display: flex;
}

.form {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}
