.container {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  align-self: center;
  font-size: 80px;
  padding-top: 80px;
}

.mat-error {
  width: 100%;
  margin-top: 60px;
}

.label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  width: 600px;
  height: 700px;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  display: flex;
}

.form {
  padding-top: 60px;
  padding-right: 25px;
  padding-left: 25px;
}

.error {
  height: 80px;
  font-size: small;
}
